.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    
    
}
.header__input{
    display: flex;
    align-items: center;
    padding: 10px;
}
